block head__css
    head
        link(rel="stylesheet", href="/styles/menu.css", type="text/css")
        script(src="/scripts/sort-layout.js")
block body
    body( onload="sortCars()" )
        block body__menu
        block  error
            article#err=ERR
        block sort__menu
        block body__all-cars
        block body__footer