block head__css
    head
        link(rel="stylesheet", href="/styles/menu.css", type="text/css")

block body
    block body__menu
        div.body-menu
            ul
                li Home
                li One
                li Two
    block body__all-cars
    block body__footer