block head__css
    head
        link(rel="stylesheet", href="/styles/menu.css", type="text/css")
        script(src="/scripts/sort-layout.js")

block body
    body( onload="sortJs()" )
        block body__menu
            div.body-menu
                ul
                    a( href="/" )
                        li( class="body-menu__active" ) Home
                    a( href="#" )
                        li One
                    a( href="#" )
                        li Two
        include ./sort-layout.pug
        block body__all-cars
        block body__footer