block head__css
    head
        link(rel="stylesheet", href="/styles/menu.css", type="text/css")

block body
    block body__menu
        div.body-menu
            ul
                a( href="/" )
                    li Home
                a( href="#" )
                    li One
                a( href="#" )
                    li Two
    block body__all-cars
    block body__footer