block body__sort
    span Sort By: 
    span 
    select
        option Car Brand Asc
        option Car Brand Desc
    select
        option Car Model Asc
        option Car Model Desc
    select
        option Car Year Asc
        option Car Year Desc
    br
    br